.tooltip-wrapper {
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  border-radius: 6px;
  height: 60px;
  // background: white;
  background-color: #fffffd;
}

.tooltip {
  &__real-time {
    &--horizontal {
      display: grid;
      height: 100%;
      grid-template-rows: 100px 100px 100px;
      gap: 10px;

      .tooltip {

        &__group {
          &--left {
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            align-items: center;
            gap: 10px;
            color: #B9B4C7;
            font-size: 50px;
            line-height: 50px;
            font-weight: bold;
            background-color: #fefefd;
            filter: drop-shadow(0px 1px 3px lightgrey);
            border-radius: 10px;

            & wc {
              display: inline-block;
              width: 28px;
            }

            & tc {
              display: inline-block;
              width: 12px;
            }
          }

          &--center {
            padding: 0 6px;
            font-weight: bold;
            font-size: 42px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #fefefd;
            // background-color: #fdfdfd;
            border-radius: 10px;
            align-items: center;
            filter: drop-shadow(0px 1px 3px lightgrey);
            overflow: hidden;
          }

          &--right {
            display: flex;
            justify-content: space-between;
            padding: 0 10px;
            align-items: center;
            gap: 10px;
            color: #B9B4C7;
            font-size: 80px;
            line-height: 80px;
            font-weight: bold;
            background-color: #fefefd;
            filter: drop-shadow(0px 1px 3px lightgrey);
            border-radius: 10px;
            

            & wc {
              display: inline-block;
              width: 42px;
            }

            & tc {
              display: inline-block;
              width: 20px;
            }
          }

        }

        &__item {
          &--up {
            & em {
              color: #119e00;
            }
          }

          &--down {
            & em {
              color: #FD4650;
            }
          }

          &--plate {
            & em {
              color: #7fb3ff;
            }
          }

          &--time  {
            
            text-align: center;
            color: #A2678A;
          }

          &--arrow  {
            font-size: 90px;
            font-weight: bold;
            width: 90px;
            text-align: center;
          }

          &--start-time  {
            // width: 90px;
            color: #26577C;

            &::after {
              content: '|';
              position: relative;
              left: 12px;
              top: -2px;
              color: #E55604;
            }
          }

          &--start-value {
            // width: 140px;
            text-align: start;

            em {
              color: #26577C;
            }

          }

          &--start-end-diff {
            // width: 130px;
            text-align: start;
          }

          &--end-value {
            // width: 140px;
            text-align: end;
            
            em {
              color: #E55604;
            }
          }

          &--end-time  {
            // width: 90px;
            color: #E55604;

            &::before {
              content: '|';
              position: relative;
              left: -10px;
              top: -2px;
              color: #26577C;
            }
          }

          &--current-time  {
            // width: 200px;
            color: #A2678A;
          }

          &--current-diff-text {
            // width: 250px;
            text-align: end;
          }

          &--current-value {
            // min-width: 380px;
            text-align: end;
          }
        }
      }
    }
  }
}