.modal {
  background: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

.header {
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e3e9f3;
  border-bottom: 1px solid #e3e9f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  position: sticky;
  top: 0px;
  z-index: 1;

  .time_limit {
    width: 50px;
    padding: 4px;
    border-radius: 4px;
  }

  .sort_by {
    width: 100px;
    padding: 4px;
    border-radius: 4px;
  }

  .currency {
    width: 100px;
    padding: 4px;
    border-radius: 4px;
  }

  .operation {
    width: 100px;
    padding: 4px;
    border-radius: 4px;
  }

  .bank {
    width: 100px;
    padding: 4px;
    border-radius: 4px;
  }

  .header_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }
}

.btn_close {
  height: 30px;
  cursor: pointer;
}

.key {
  padding: 10px;
  border-bottom: 1px solid #e3e9f3;
  display: grid;
  grid-template-columns: 40px 40px 60px 60px 1fr 100px 1fr 1fr 100px 100px;
  justify-content: space-between;
  align-items: center;

  &_currency {
    font-weight: bold;
  }

  &_bank {
    // text-align: ;
  }

  &_button {
    margin: 0px 10px;
  }

  &_active {
    box-shadow: 0px 0px 16px 0px #5f5f5f;
  }

  &_checkbox {
    width: 26px;
    height: 26px;
  }
}

.details {
  animation : slide-in 0.5s ease-in-out;
  animation-fill-mode: both;
  height: 0px;
  top: 100%;
  width: calc(100% + 20px);
  background-color: aliceblue;
  grid-column: 1 / span 10;

  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
}

.chart {
  animation : slide-in-chart 0.5s ease-in-out;
  animation-fill-mode: both;
  height: 0px;
  position: relative;
  width: calc(100% + 20px);
  background-color: aliceblue;
  grid-column: 1 / span 10;

  &_configurator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    width: 100%;

    .input_group {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;

      .input {
        border-radius: 4px;
        padding: 4px;
      }
    }
  }

  &_header {
    width: 100%;
  }

  &_body {
    height: calc(100% - 40px);
    width: 100%;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 1;
    height: 440px;
    margin: 10px -10px -10px;
    padding: 10px;
  }
}

.dropdown {
  padding: 0px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0px 0px 16px 0px #5f5f5f;

  .chart_body {
    height: 100%;
    width: 100%;
  }
}

@keyframes slide-in-chart {
  0% {
    opacity: 0;
    height: 0px;
  }
  100% {
    opacity: 1;
    height: 240px;
    margin: 10px -10px -10px;
    padding: 4px;
  }
}