.day {
  border: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 0 0 10px -6px;
  background-color: white;

  &--current {
    box-shadow: #17ff00 0 0 10px -6px;
  }
}

.day--head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  &__info {
    display: flex;
    align-items: center;
  }
}