.subscription {
  width: 100%;
  height: 38px;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  border: 3px solid transparent;

  &--active {
    border: 3px solid #00d0ff;
  }

  &__info {

    &:hover {
      box-shadow: 0px 0px 6px gainsboro;
    }
  }
}