.top-bar {
  border-bottom: 1px solid gainsboro;
  padding: 6px 0;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  background-color: #f2f2f2;

  &__country {
    display: flex;
    justify-content: center;
    align-items: center;

    &-select {
      margin-right: 6px;
    }
  }

  & .frame {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 4px;
    border: 1px solid gainsboro;
    border-radius: 4px;
    background-color: white;
    gap: 8px;

    & .icon-wrapper {
      display: flex;
      cursor: pointer;

      &.selected {
        filter: drop-shadow(0 0 6px #007eff);
      }
    }
  }
}